
/* queries */
@media (max-width: 425px) {
    section .content#sm {
        font-size: 5vw;
    }

    section .header {
        font-size: 13vw;
    }

}

@media (max-width: 576px) {
    main.sm {
        margin: 0 1.5rem;
        padding: 0;
        width: auto;
    }

    .m-header .sm {
        font-size: 50px;
    }
    
    .m-header span.sm {
        font-size: 20px;
    }

    .m-header button.sm {
        padding: 0.3rem 1.3rem; 
        font-size: 23px; 
    }

    nav.md {
        padding: 20px;
    }
    
    nav.md a{
        font-size: 17px;
    }
}

/* elements */
html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
    background: black; 
    margin: 0;
}

main {
    color: white;
}

footer {
    /* background: linear-gradient(to top, rgba(101, 101, 101, 0.3), rgba(0, 0, 0, 0));  */
    text-align: right;
    color: white;
    padding: 10px 1rem;
    font-size: 1.2rem;
}

nav {
    display: flex; 
    justify-content: end; 
    padding: 20px 5rem; 
    flex-wrap: wrap; 
    gap: 3vw;
    transition: padding 0.25s ease-in;
}

nav a {
    font-weight: 500;
    font-size: 20px;
    color: #313231;
    text-decoration: none;
    transition: font-size 0.25s ease-in;
}

header {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    background: url('../img/technopark_smkn2.jpeg') no-repeat;
    background-size: cover;
    position: relative;
    background-position: 50% 50%;
}

nav a:hover {
    color: rgba(49, 50, 49, 0.7);
}

main section {
    margin-bottom: 1.5rem;
    grid-row-gap: 1.5rem;
}

/* classes */
section p.content {
    font-size: 20px; 
    text-align: justify;
    text-indent: 2rem;
}

section p.contact {
    text-indent: 0;
}

section h6 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 2.5rem;
}

.m-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: calc(100vh - 10vh);
    align-items: center;
}

.m-header p {
    display: flex; 
    flex-direction: column; 
    font-weight: 500; 
    font-size: 70px;
}

.m-header p, .m-header p span {
    transition: font-size 0.5s ease-in;
}

.m-header span {
    font-size: 40px;
}

.m-header button {
    border-radius: 5px; 
    padding: 0.3rem 1.3rem; 
    font-size: 30px; 
    background: #99C1B7; 
    border: none;
}

.m-header button:hover { 
    background: #99c1b7bf; 
}

.gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 17%; /* Set the height of the gradient overlay */
    background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.97));
}